.categories{
    display: flex;
    flex-direction: row;
    background-color: rgb(167, 149, 126);
    /* flex-wrap: nowrap; */
    justify-content:  center;
    flex-shrink: 0;
    flex-grow: 1;
    flex: 0 0 100%;
    width: 100%;
}

a{
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    color: rgb(146, 230, 255);
    /* padding: 10px; */
    /* font-size: 17px; */
    /* width: 100%; */
    display: flex;
    /* justify-self: center; */
    align-self: center;
    /* text-align: center; */
    justify-content: space-between;
    flex-direction: row;
    vertical-align: middle;
    flex-grow: 1;
    /* padding: 10px; */

}

.nav-element{
    text-decoration: none;
    padding: 20px;
    width: 100%;
    height: auto;
}

.nav-element:hover{
    background-color: rgb(49, 56, 55);
}

.button {
    flex-grow: 0;
}